body {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

.main {
    margin-block: 2rem;
    color: white;
    display: flex;
    justify-content: center;
}

.create_ticket_form {
    background-color: #403075dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70vw;
    padding: 1rem;
    border-radius: 10px;
}

.create_ticket_h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.label_and_input {
    width: 50%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.label_and_input input {
    width: 250px;
}

.label_and_input input[type="text"],
.label_and_input input[type="number"],
.label_and_input select {
    font-family: "Open Sans", sans-serif;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.label_and_input input[type="text"]:focus,
.label_and_input input[type="number"]:focus {
    border-color: #93bbdf;
    outline: none;
}

input[type="submit"] {
    padding: 8px;
    background-color: #4cafa7;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #639691;
}

.back-button {
    align-self: flex-end;
}

