.user_profile_wrapper {
  margin-block: 20px;
  margin-inline: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user_profile h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
}

.user_info_wrapper {
  margin-bottom: 20px;
}

.user_info_wrapper p {
  margin: 10px 0;
  color: #555;
}

.user_tickets_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 20px;
}

/* .user_tickets_info button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */
/* .profile_buttons_wrapper {
    display: flex;
} */

.user_details_wrapper {
  display: flex;
  gap: 20px;
}

.user_tickets_info button:hover {
  background-color: #0056b3;
}

#pagesDesc {
  color: white;
}

.pageActionButton {
  background-color: #4a3e77;
  padding: 4px 8px 4px 8px;
}

.tickets_list {
  align-self: stretch;
}

.ticket_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ticket_card:hover {
  background-color: #d9d8d8;
}

.ticket_date {
  font-size: 14px;
  text-align: center;
  padding-right: 20px;
}

.ticket_date div:first-child {
  font-weight: bold;
  font-size: 18px;
}

.ticket_info {
  flex: 1;
  padding-left: 20px;
  border-left: solid 1px #ddd;
}

.ticket_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ticket_location,
.ticket_seller,
.ticket_remaining {
  font-size: 14px;
  color: #555;
}

.ticket_action {
  display: flex;
  align-items: center;
}

.see_tickets {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.see_tickets::before {
  content: "❤️";
  margin-right: 5px;
}
