.ticket_list_wrapper {
    margin-top: 20px;
    margin-inline: 100px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#pages_arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#pagesDesc {
    color: white;
}

.pageActionButton {
    background-color: #4a3e77;
    padding: 4px 8px 4px 8px;
}

.ticket_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ticket_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.ticket_card:hover {
    background-color: #d9d8d8;
}

.ticket_date {
    font-size: 14px;
    text-align: center;
    padding-right: 20px;
}

.ticket_date div:first-child {
    font-weight: bold;
    font-size: 18px;
}

.ticket_info {
    flex: 1;
    padding-left: 20px;
    border-left: solid 1px #ddd;

}

.ticket_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ticket_location,
.ticket_seller,
.ticket_remaining {
    font-size: 14px;
    color: #555;
}

.ticket_action {
    display: flex;
    align-items: center;
}

.see_tickets {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.see_tickets::before {
    content: '❤️';
    margin-right: 5px;
}

.search_type_error_p {
    color: #d9d8d8;
    font-size: 1.2rem;
}