.main_ticket_card_wrapper {
  display: flex;
  justify-content: center;
}

.ticket_card_container {
  min-width: 40vw;
  background-color: rgb(202, 202, 184);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ticket_card_container h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.header_and_button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #purchaseButton {
    background-color: rgb(112, 159, 101);
}

#purchaseButton:hover {
    background-color: rgb(103, 200, 81);
} */

#deleteButton {
  background-color: rgb(184, 54, 54);
}

#deleteButton:hover {
  background-color: rgb(230, 28, 28);
}
